@import '/src/scss/mixin.scss';

.listItem {
  .keywords {
    @include keyword();
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 8px;
    padding-top: 16px;
    border-top: 1px dashed var(--g200-color);
    .techStack {
      display: flex;
      flex-direction: column;
      gap: 2px;

      .label {
        @include marker();
      }

      .stackContent {
        display: flex;
        align-items: center;
        gap: 6px;
        padding-left: 8px;
        font-size: 14px;

        .icon {
          font-size: 4px;
        }
      }
    }
  }
}
