@import '/src/scss/mixin.scss';

.infomation {
  flex: 1;

  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &:not(:last-child) {
      margin-bottom: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid var(--b400-color);
    }

    .title {
      @include marker();
    }

    .detail {
      display: grid;
      grid-template-columns: 1fr 2fr;

      .date {
        font-size: 14px;
        color: var(--b200-color);
      }

      .label {
        font-weight: 500;
        .desc {
          display: block;
          margin-top: 4px;
          font-size: 14px;
          font-weight: 300;
          color: var(--g300-color);
        }
      }
    }
  }
}
