.infomation {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .title {
      font-size: 20px;
      font-weight: 500;
    }

    .detail {
      display: grid;
      grid-template-columns: 1fr 2fr;

      .date {
        font-size: 14px;
      }

      .label {
        font-weight: 500;
        .desc {
          display: block;
          font-size: 14px;
          color: var(--g300-color);
        }
      }
    }
  }
}
