.homeContent {
  flex: 1;
  margin-left: 348px;
  padding: 48px 0 48px 24px;
  height: 100%;

  .typed {
    text-align: center;
    > span {
      font-size: 48px;
      font-weight: 500;
      color: var(--accent-color);
    }
  }

  > p {
    margin-bottom: 48px;
    text-align: center;
    font-weight: 300;
    > span {
      font-weight: 500;
    }
  }

  .mainStack {
    grid-template-columns: repeat(2, 1fr);
  }

  .mainProjectList {
    display: grid;
    margin-top: 48px;
    outline: 1px dotted red;

    .mainList {
      color: var(--common-color);
      background-color: #fff;
    }
  }
}
