.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;

  .idPic {
    width: 100%;
  }

  .info {
    margin-top: 24px;
    li {
      display: flex;
      align-items: center;
      gap: 16px;

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: var(--accent-color);
      }

      .label {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}
