.contact {
  padding: 48px 0;

  .container {
    display: flex;
    align-items: center;
    gap: 24px;

    .avatar {
      width: 38%;
    }

    .content {
      flex: 1;
      text-align: center;
      h2 {
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 500;
      }

      ul {
        margin-top: 48px;
      }
    }
  }
}
