.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--bg-color);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;

    .logo {
      font-size: 18px;
    }
  }
}
