.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 24px;
  background-color: var(--g400-color);

  .icon {
    position: relative;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--main-color);
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    > svg {
      font-size: 24px;
    }

    &.github {
      color: #6e5494;
      &:hover {
        .tooltip {
          background-color: #6e5494;
          &::before {
            background-color: #6e5494;
          }
        }
      }
    }

    &.resume {
      color: var(--g400-color);
      &:hover {
        .tooltip {
          background-color: var(--g400-color);
          &::before {
            background-color: var(--g400-color);
          }
        }
      }
    }

    .tooltip {
      position: absolute;
      top: 0;
      width: 120px;
      text-align: center;
      font-size: 14px;
      font-weight: 300;
      color: var(--main-color);
      padding: 4px 8px;
      border-radius: 5px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &::before {
        position: absolute;
        content: '';
        height: 8px;
        width: 8px;
        bottom: -3px;
        left: 50%;
        transform: translate(-50%) rotate(45deg);
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
    }

    &:hover {
      .tooltip {
        top: -45px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }
}
