@charset "utf-8";

@import './common.scss';

.intro-me {
  padding: 0 20px;
}
.info {
  display: flex;
  outline: 1px dotted red;
  .picture {
    height: 300px;
  }
  .info-contents {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
    .name {
      font-size: 30px;
      p {
        &:first-child {
          font-size: 50px;
        }
        span {
          font-weight: 800;
          color: $accent-color;
        }
      }
    }
    .personal {
      font-size: 20px;
    }
  }
}

.intro-title {
  text-align: center;
  .intro-typed {
    display: block;
    font-size: 50px;
  }
  .intro-desc {
    margin-top: 20px;
    p {
      line-height: 1.6;
      &:first-child {
        font-size: 30px;
        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 20px;
          background-color: #ccc;
        }
      }
    }
  }
}

.skill {
  margin-top: 50px;
}

/* media - tablet */
@media screen and (max-width: 1023px) {
}

/* media - mobile */
@media screen and (max-width: 767px) {
}
