@charset "utf-8";

/* common font-family */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24Supermagic-Bold-v1.0';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'D2Coding';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* colors */
$main-color: #FEFBF6;

$common-color: #ECB159;
$sub-color: #FFEFCA;
$accent-color: #B67352;

$btn-color: #BBA987;
$hover-color: #86513B;

$dark-color: #32302C;
$gray-color: #918E8A;


/* reset */
* {margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none; color: inherit;}
li {list-style: none;}
body {font-family: 'Pretendard-Regular', 'Noto Sans KR', sans-serif;}

html, body {
  width: 100%;
  background-color: $main-color;
  color: $dark-color;
}

p {
  white-space: pre-wrap;
}


#root {
  width: 100%;
}
#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


.swiper-slide {
  border: 1px solid $common-color;
  background-color: rgba(255, 255, 255, 0.5)!important;
  transition: 0.3s;
  &:hover {
    background-color: #fff!important;
    border: 1px solid $accent-color;
  }
}

.btn {
  display: inline-block;
  font-size: 14px;
  transition: 0.3s;
  text-transform: capitalize;
}

.link-btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid $btn-color;
  color: $btn-color;
  &:hover {
    border: 2px solid $hover-color;
    background-color: $hover-color;
    color: $main-color;
  }
}

.preview-btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid $btn-color;
  background-color: $btn-color;
  color: $main-color;
  &:hover {
    border: 2px solid $hover-color;
    background-color: $btn-color;
    color: $hover-color;
  }
}

header {
  padding: 20px;
}

@mixin bigCircle() {
  z-index: 1;
  width: 30vw;
  height: 30vw;
  background-color: $common-color;
  transform: translateX(-50%);
}

@mixin smallCircle() {
  width: 20vw;
  height: 20vw;
  background-color: $sub-color;
}


@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* media - desktop */
@media screen and (min-width: 1024px) {
  :root {
    font-size: 16px;
  }
}

/* media - tablet */
@media screen and (max-width: 1023px) {
  :root {
    font-size: 14px;
  }
}

/* media - mobile */
@media screen and (max-width: 767px) {
  :root {
    font-size: 12px;
  }
}