@charset "utf-8";

/* common font-family */
@import url('https://webfontworld.github.io/score/SCoreDream.css');

@font-face {
  font-family: 'D2Coding';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-color: #;
  --common-color: #;
  --accent-color: #;
  --hover-color: #;
  --main-font: 'SCoreDream', sans-serif;
  --nav-font: 'D2Coding', sans-serif;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
body {
  color: #333;
}

/* colors */

/* common */
html,
body {
  width: 100%;
  height: 100%;
}

/* layout */
