@charset "utf-8";

@import "./common.scss";

/* home section */
.home {
  .home-content {
    @include center;
    flex-wrap: wrap;
    gap: 1.25rem;
  }
}

/* home - title */
.home-title {
  @include center;
  flex-direction: column;
  padding: 1.25rem;
  font-family: 'Cafe24Supermagic-Bold-v1.0';
  h2 {
    padding-bottom: 1.25rem;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    border-bottom: 1px dotted $common-color;
    color: $accent-color;
    span {
      display: block;
      font-size: 6.25rem;
    }
  }
  p {
    position: relative;
    z-index: 1;
    margin-top: 1.25rem;
    font-size: 1.875rem;
    color: $common-color;
    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 50%;
      z-index: -1;
      width: 75%;
      height: 25px;
      background-color: $sub-color;
      transform: translateX(-50%) skew(-10deg);
    }
  }
}


.aside {
  position: relative;
  width: 30%;
  height: 100%;
  .big {
    @include bigCircle;
    top: 40%;
    left: 50%;
    animation: upDown 0.8s linear infinite alternate;
  }
  .small {
    @include smallCircle;
    bottom: 20%;
    left: 60%;
    animation: leftRight 0.8s linear infinite alternate;
  }
}

.preview {
  margin-top: 30px;
  h2 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: $common-color;
  }
  .preview-slide {
    width: 100%;
    height: 300px;
    .swiper-wrapper {
      height: 250px;
    }
    .swiper-pagination {
      bottom: 20px;
    }

    .preview-slide-item {
      padding: 20px;
      width: calc(100% / 3);
      background-color: #fff;
      .preview-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        h3 {
          font-size: 24px;
          color: $accent-color;
        }
        div {
          width: 100%;
          h4 {
            margin-bottom: 5px;
            font-size: 16px;
            color: $accent-color;
            opacity: 0.8;
          }
          p {
            margin-bottom: 10px;
            padding-left: 5px;
            font-size: 14px;
            color: $gray-color;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}


/* keyframe */
@keyframes upDown {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -48%);
  }
}
/* keyframe */
@keyframes leftRight {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(5%, 0);
  }
}


/* media - tablet */
@media screen and (max-width: 1023px) {
  .home {
    padding: 0 100px;
    .home-content {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  .aside {
    position: relative;
    width: 100%;
    height: 500px;
    .big {
      top: 40%;
      left: 40%;
    }
    .small {
      bottom: 10%;
      left: 50%;
    }
  }

}

/* media - mobile */
@media screen and (max-width: 767px) {

}
