@charset "utf-8";

@import "./common.scss";

.project {
  .project-desc {
    padding: 0 50px;
    text-align: center;
    p {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  nav {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        padding: 10px 0;
        width: 50%;
        text-align: center;
        outline: 1px dotted red;
        a {
          text-transform: capitalize;
        }
      }
    }
  }
}


.contents {
  width: 100%;
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
}

.project-slide {
  .swiper {
    margin-top: 20px;
    width: 100%;
    height: 500px;
  }
  .swiper-slide {
    padding: 20px;
    width: 300px;
    height: calc((100% - 50px) / 2) !important;
    border-radius: 20px;
    h3 {
      color: $accent-color;
    }
    p {
      margin: 10px 0;
    }
  }
}
